.image-logo {
    width: 500px;
    margin-top: 50px;
    margin-left: 60px;
}

hr {
    margin-top: 70px;
    height: 4px;
    background: black;
}


body {
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
    color: black;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    font-size: 30px;
    /* line-height: 2em; */
}

mark {
    background-color: yellow;
}

.product-button {
    /* text-align: center; */
    font-weight: bold;
    /* border: 1px solid green; */
    margin: .5rem;
}

a {
    text-decoration: none;
}

.cart-button:hover {
    font-weight: bold;
    background-color: yellow;
}

.cart-button {
    /* text-align: center; */
    padding: 0px;
    margin: .5rem;
    color: black;

    /* border: 1px solid green; */
}

.options-title {
    text-align: center;
    font-size: 40px;

    padding-top: 90px;
    padding-bottom: 40px;
}

.products-gallery {
    display: flex;
    flex-direction: column;

    align-items: center;

    font-size: 30px;
}


.products-gallery img {
    max-width: 350px;
}


/* Original Roll Option*/
.option-1 {
    padding: 10px;
    margin-bottom: 50px;
}

.option-1 a {
    color: black;
}

.option-1:hover {
    font-weight: bold;
    background-color: yellow;
}

.original-roll {
    border: 4px solid #000000;
}

.original-title {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #A5A5A5;
}


/*Apple Cinnamon Roll*/
.apple-roll {
    border: 4px solid #000000
}

.apple-title {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #A5A5A5;
}

.option-2 {
    padding: 10px;
    margin-bottom: 50px;
}

.option-2 a {
    color: black;
}

.option-2:hover {
    font-weight: bold;
    background-color: yellow;
}


/*Raisin Cinnamon Roll*/
.raisin-roll {
    border: 4px solid #000000
}


.raisin-title {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #A5A5A5;
}

.option-3 {
    padding: 10px;
    margin-bottom: 50px;
}

.option-3 a {
    color: black;
}

.option-3:hover {
    font-weight: bold;
    background-color: yellow;
}

/*Walnut Cinnamon Roll*/
.walnut-roll {
    border: 4px solid #000000
}

.walnut-title {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #A5A5A5;
}

.option-4 {
    padding: 10px;
    margin-bottom: 50px;
}

.option-4 a {
    color: black;
}

.option-4:hover {
    font-weight: bold;
    background-color: yellow;
}


/*Double-Chocolate Cinnamon Roll*/
.choco-roll {
    border: 4px solid #000000
}

.choco-title {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #A5A5A5;
}

.option-5 {
    padding: 10px;
    margin-bottom: 50px;
}

.option-5 a {
    color: black;
}

.option-5:hover {
    font-weight: bold;
    background-color: yellow;
}


/*Strawberry Cinnamon Roll*/
.strawberry-roll {
    border: 4px solid #000000
}

.strawberry-title {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #A5A5A5;
}

.option-6 {
    padding: 10px;
    margin-bottom: 50px;
}
.option-6 a {
    color: black;
}

.option-6:hover {
    font-weight: bold;
    background-color: yellow;
}









