body {
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
    color: black;
}

.top-header-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    /* margin - top, right, bottom, left */
    margin: 50px 50px 0px 50px;
}

.bakery-logo-image img {
    width: 350px;
    padding: 20px;
}

.navigation-line-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-left: 30px;
}

.navigation-bar {
    display: flex;
    flex-direction: row-reverse;

    gap: 5rem;
    text-align: center;
    font-size: 24px;

    margin-bottom:20px;
}

.product-button {
    margin: 5px;
    font-weight: bolder;
}

/*for mouse position/navigation indicator*/
.product-button:hover {
    background-color: yellow;
}

a {
    text-decoration: none;
    color: black;
}

.cart-button {
    margin: 5px;
}

.cart-button:hover {
    background-color: yellow;
    -webkit-text-stroke: 1.25px black;
}

.line-under-nav hr {
    height:5px;
    margin-left: 1%;
    background-color: black;
}

#details-page-title {
    font-size: 35px;
    margin-top: 45px;
    margin-left: 1%;
}

/*Product Detail Content*/
.product-detail-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    gap: 40px;
}

.product-image img {
    margin-right:20px;
    max-width: 500px;
    border: 4px solid black;
}

.product-details{
    display: flex;
    flex-direction: column;
}

.customize-text h2 {
    font-size: 25px;
    font-weight: normal;
}

.options-box{
    margin: 20px 0px 20px 0px;
}

.glazingDrop h2 {
    font-size: 20px;
    font-weight: normal;
}

.packDrop h2 {
    font-size: 20px;
    font-weight: normal;
}

select {
    width: 100%;
    height: auto;

    font-size: 20px;
    padding: 10px;
}

/* UPDATED PRICE AND ADD BUTTON */
.price-cart-add {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-cart-add p {
    display: flex;
    flex-basis: 50%;
    
    justify-content: center;

    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: bold;
}

#base-price {
    flex-grow: 1;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#cart-add {
    font-size: 20px;
    border: 3px solid black;
    flex-basis: 50%;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#cart-add:hover {
    outline: 1.5px solid black;
    background-color: yellow;
    font-weight: bold;
}